@import url('https://fonts.googleapis.com/css?family=Grenze&display=swap');
.blogdesire-body{
  background-image: linear-gradient(-20deg, #ff2846 0%, #6944ff 100%);
  background-repeat: no-repeat;
  min-height: 99vh;
   font-family: 'Grenze', serif;
}
.blogdesire-wrapper{
   padding: 20px;
   width: 100%;
   margin: auto;
   box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
   background: #fff;
   border-radius: 12px;
   max-width: 700px;
   position: relative;
}
.blogdesire-heading{
  display: block;
  text-align: center;
  font-size: 30px;
  color: #6944ff;
}
.blogdesire-form{
 
}
.blogdesire-form input{
  width: 96%;
  border: 1px solid #6944ff;
  color: #6944ff;
  padding: 2%;
  border-radius: 20px;
  margin-top: 15px;
  font-family: 'Grenze', serif;
}
.blogdesire-form input:last-child{
  background: #6944ff;
  color: #fff;
  width: 20%;
}